<%- include("partials/header") -%>

<h1>ABOUT</h1>
<br>
<h4><%=para%></h4>
<br>
<p>I'm glad you stopped by to learn more about us.
<strong>Write On</strong> is a blogging Website, founded in 2022 by Shweta Bhagat. This is a community of writers who are passionate about sharing
their thoughts, experiences, and insights on a variety of topics. From personal growth and self-improvement to travel and
lifestyle, we aim to provide our readers with engaging and informative content that will help them live their best lives
and grow.</p>

<br>

<p>Take a look around and see what interests you. We hope to inspire and empower our readers through our writing.
Discover the joy of writing and the power of self-expression by writing a blog from the Compose section.</p>

<%- include("partials/footer") -%>