<h1>Explore blogs!</h1>

<% blogs.forEach( (blog)=> { %>
    <h1><%=blog.blogTitle%></h1>
    <p>
        <%=blog.blogBody.split(' ').slice(0,50).join(' ')%>
        ...<a href= <%=blog._id%> >Read more</a>
    </p>
<%})%>